doctype
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
    meta(charset="utf-8")
    title Heartnotes - secure, encrypted diary app
    link(href="./css/app.css", rel="stylesheet", type="text/css")

    link(href="https://js.stripe.com/v2/", rel="subresource")

    script(type="text/javascript").
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var n=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(n?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(a,o);for(var r=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=r(p[c])};
      heap.load("__BUILD_TYPE__" === "PRODUCTION" ? "2882477817" : "3587538098");

  body
    main
      #layout
        #content-wrapper
          #welcome-content
            .welcomeView
              .logo
                span heart
                span.img
                span notes
              .content
                .splash
                  span.loading
                    i.icon-widget.fa.fa-spin.fa-cog
    // we include worker scripts here just so that electron packer includes them in release
    script(src="./js/worker-sjcl.js", type="text/javascript", defer, async)
    script(src="./js/worker-search.js", type="text/javascript", defer, async)
    script(src="./js/vendor.js", type="text/javascript")
    script.
      window.ALLOYEDITOR_BASEPATH = '/alloyeditor/';
      window.CKEDITOR_BASEPATH = '/alloyeditor/';
    script(src="./js/app.js", type="text/javascript")
